
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
}

 #wrapper {
    width: 100%;
    background:#202020;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1200px;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
    color: #f00;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.panel-back {
    background-color:#F8F8F8;

}
   .noti-box {
min-height: 100px;
padding: 20px;
}

    .noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
    .bg-color-green {
background-color: #00CE6F;
color: #fff;
}
 .bg-color-blue {
background-color: #A95DF0;
color: #fff;
}
  .bg-color-red {
background-color: #DB0630;
color: #fff;
}
  .bg-color-brown {
background-color: #B94A00;
color: #fff;
}


 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
      -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }
    .back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
     .back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}
     /*CHAT PANEL*/
 .chat-panel .panel-body {
height: 450px;
overflow-y: scroll;
}
 .chat-box {
margin: 0;
padding: 0;
list-style: none;
}
 .chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px dotted #808080;
}
 .chat-box li.left .chat-body {
margin-left: 90px;
}
 .chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}

/*==============================================
    MENU STYLES    
    =============================================*/


.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}

.navbar-cls-top .navbar-brand {
	color: #fff;
background: #A17302;
width: 260px;
text-align: center;
height: 60px;
font-size: 30px;
font-weight: 700;
}
.active-menu {
    background-color: #A17302!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
    padding: 0;
    height: 300vh;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#202020;
	text-shadow:none;
	
}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:#0A0A0A;
	outline:0;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:#ff0000;
	top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#ff0000;
	top:0px;
	z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
	background-color: #202020;
	
}
.navbar-cls-top {
	background:#4D4D4D;
	border-bottom:none;
	
}
.navbar-cls-top .navbar-brand:hover {
    background: #A17302;
    color: #fff;
}

.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    background: #A70303;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B40101;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}
/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;
		
    }
	
	
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

   .navbar {
 border-radius: 0px; 
}
   
}

:root {
    --bg: #ebf0f7;
    --header: #fbf4f6;
    --text: #2e2e2f;
    --white: #ffffff;
    --light-grey: #c4cad3;
    --tag-1: #ceecfd;
    --tag-1-text: #2e87ba;
    --tag-2: #d6ede2;
    --tag-2-text: #13854e;
    --tag-3: #ceecfd;
    --tag-3-text: #2d86ba;
    --tag-4: #f2dcf5;
    --tag-4-text: #a734ba;
    --purple: #7784ee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: var(--text);
}

.app {
    padding: 25px 250px;
    background-color: var(--bg);
    min-height: 100vh;
    width: 1500px;
}

h1 {
    font-size: 30px;
}

.project {
    padding: 2rem;
    max-width: 75%;
    width: 100%;
    display: inline-block;
}

.project-info {
    padding: 2rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.project-participants {
    display: flex;
    align-items: center;
}

    .project-participants span, .project-participants__add {
        width: 30px;
        height: 30px;
        display: inline-block;
        background: var(--purple);
        border-radius: 100rem;
        margin: 0 0.2rem;
    }

.project-participants__add {
    background: transparent;
    border: 1px dashed rgb(150, 150, 150);
    font-size: 1;
    cursor: pointer;
    position: relative;
}

    .project-participants__add:after {
        content: "+";
        font-size: 15px;
        color: rgb(150, 150, 150);
    }

.project-tasks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-column-gap: 1.5rem;
}

.project-column-heading {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-column-heading__title {
    font-size: 20px;
}

.project-column-heading__options {
    background: transparent;
    color: var(--light-grey);
    font-size: 18px;
    border: 0;
    cursor: pointer;
}

.task {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    margin-bottom: 1rem;
    border: 3px dashed transparent;
}

    .task:hover {
        box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
        border-color: rgba(162, 179, 207, 0.2) !important;
    }

    .task p {
        font-size: 15px;
        margin: 1.2rem 0;
    }

.task__tag {
    border-radius: 100px;
    padding: 2px 13px;
    font-size: 12px;
}

.task__tag--copyright {
    color: var(--tag-4-text);
    background-color: var(--tag-4);
}

.task__tag--design {
    color: var(--tag-3-text);
    background-color: var(--tag-3);
}

.task__tag--illustration {
    color: var(--tag-2-text);
    background-color: var(--tag-2);
}

.task__tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task__options {
    background: transparent;
    border: 0;
    color: var(--light-grey);
    font-size: 17px;
}

.task__stats {
    position: relative;
    width: 100%;
    color: var(--light-grey);
    font-size: 12px;
}

    .task__stats span:not(:last-of-type) {
        margin-right: 1rem;
    }

    .task__stats svg {
        margin-right: 5px;
    }

.task__owner {
    width: 25px;
    height: 25px;
    border-radius: 100rem;
    background: var(--purple);
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
}

.task-hover {
    border: 3px dashed var(--light-grey) !important;
}

.task-details {
    width: 24%;
    border-left: 1px solid #d9e0e9;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding: 3rem 2rem;
}

.tag-progress {
    margin: 1.5rem 0;
}

    .tag-progress h2 {
        font-size: 16px;
        margin-bottom: 1rem;
    }

    .tag-progress p {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

        .tag-progress p span {
            color: rgb(180, 180, 180);
        }

    .tag-progress .progress {
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        border-radius: 10px;
        height: 10px;
    }

        .tag-progress .progress::-webkit-progress-bar, .tag-progress .progress::-webkit-progress-value {
            border-radius: 10px;
        }

    .tag-progress .progress--copyright::-webkit-progress-bar {
        background-color: #ecd8e6;
    }

    .tag-progress .progress--copyright::-webkit-progress-value {
        background: #d459e8;
    }

    .tag-progress .progress--illustration::-webkit-progress-bar {
        background-color: #dee7e3;
    }

    .tag-progress .progress--illustration::-webkit-progress-value {
        background-color: #46bd84;
    }

    .tag-progress .progress--design::-webkit-progress-bar {
        background-color: #d8e7f4;
    }

    .tag-progress .progress--design::-webkit-progress-value {
        background-color: #08a0f7;
    }

.task-activity h2 {
    font-size: 16px;
    margin-bottom: 1rem;
}

.task-activity li {
    list-style: none;
    margin: 1rem 0;
    padding: 0rem 1rem 1rem 3rem;
    position: relative;
}

.task-activity time {
    display: block;
    color: var(--light-grey);
}

.task-icon {
    width: 30px;
    height: 30px;
    border-radius: 100rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .task-icon svg {
        font-size: 12px;
        color: var(--white);
    }

.task-icon--attachment {
    background-color: #fba63c;
}

.task-icon--comment {
    background-color: #5dc983;
}

.task-icon--edit {
    background-color: #7784ee;
}

@media only screen and (max-width: 1300px) {
    .project {
        max-width: 100%;
    }

    .task-details {
        width: 100%;
        display: flex;
    }

    .tag-progress,
    .task-activity {
        flex-basis: 50%;
        background: var(--white);
        padding: 1rem;
        border-radius: 8px;
        margin: 1rem;
    }
}

@media only screen and (max-width: 1000px) {
    .project-column:nth-child(2),
    .project-column:nth-child(3) {
        display: none;
    }

    .project-tasks {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .project-column:nth-child(4) {
        display: none;
    }

    .project-tasks {
        grid-template-columns: 1fr;
    }

    .task-details {
        flex-wrap: wrap;
        padding: 3rem 1rem;
    }

    .tag-progress,
    .task-activity {
        flex-basis: 100%;
    }

    h1 {
        font-size: 25px;
    }

}


